body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  background-color: rgb(59, 116, 161);
  color: #fff;
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
  max-width: 800px;
}

a {
  color: #05705e;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

div {
  padding: 10px;

  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  border-radius: 8px;
}

img {
  max-width: 200px; /* Limita a largura da imagem a 200px */
  height: auto;
  border-radius: 4px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.linkfooter:hover {
  color: rgb(216, 209, 209);
  text-decoration: none;
}
